@model BookingFilm.DoAn
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>



<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DoAn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDA)
        </dd>

        <!-- Add more fields here as necessary -->

    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "Food"))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="hidden" name="id" value="@Model.MaDA" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>