

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model IEnumerable<BookingFilm.RapChieu>

<a href="@Url.Action("Create", "Cinema")" class="btntest" style="border-radius: 10px; border: 1px solid; width: 125px; font-size: 16px; color:white; background-color:forestgreen";>Add Cinema</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th id="action">Action</th>
        </tr>
    <thead>
    <tbody>
        @foreach(var rapChieu in Model)
        {
            <tr>
                <td>@rapChieu.MaRC</td>
                <td>@rapChieu.TenRC</td>
                <td>@rapChieu.DiaChi</td>

                <td>
                    <a href="@Url.Action("Edit", "Cinema", new {id= rapChieu.MaRC}) " style="display: inline !important;color:white; background-color:forestgreen" ;">EDIT</a>
                    <a href="@Url.Action("Delete", "Cinema", new { id = rapChieu.MaRC })" style="display: inline !important;color:white; background-color:forestgreen" ;" onclick="return confirm('Are you sure you want to delete this item?');">REMOVE</a>
                </td>
            </tr>
        }
    </tbody>


